@import '../../../assets/scss/variables';

@keyframes fallen {
  from {
    bottom: 100%;
    transform: scale(1);
  }
  to {
    bottom: 5rem;
    transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    bottom: 5rem;
  }
  to {
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(5.5);
    bottom: -30rem;
  }
}
@keyframes backgroundZoom {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 225% 225%;
  }
}
@keyframes cat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes catMove {
  // 0% {
  //   transform: rotate(-5deg) scale(1);
  //   bottom: 35rem; // left up
  // }
  // 25% {
  //   transform: rotate(-5deg) scale(1);
  //   bottom: 36rem; // left bottom down
  // }
  // 50% {
  //   transform: rotate(10deg) scale(1);
  //   bottom: 32rem; // right bottom down
  // }
  // 100% {
  //   transform: rotate(10deg) scale(1);
  //   bottom: 35rem; // right up
  // }

  0% {
    transform: rotate(-5deg) scale(1);
    bottom: -8%; // left up
  }
  25% {
    transform: rotate(-5deg) scale(1);
    bottom: -7%; // left bottom down
  }
  50% {
    transform: rotate(10deg) scale(1);
    bottom: -12%; // right bottom down
  }
  100% {
    transform: rotate(10deg) scale(1);
    bottom: -8%; // right up
  }
}
@keyframes comedown {
  from {
    margin-bottom: 150%;
  }
  to {
    margin-bottom: -1rem;
  }
}
button:active {
  background-color: $orange-500;
  box-shadow: 0px 1px 0px 0px $orange-600;
  transform: translateY(4px);
}
.QuizScreenContainer {
  display: flex;
  font-family: $primary-font;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc($page-height - $nav-height);
  z-index: 1;
  overflow: hidden;

  .musicStand {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    animation-name: fallen, zoomIn;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 1s;
    width: 12rem;
    margin: auto;
    animation-timing-function: ease, ease;
    animation-fill-mode: forwards, forwards;
  }

  .GameScreen {
    display: flex;
    padding: 2rem;
    margin-bottom: 150%;
    z-index: 2;
    flex-direction: column;
    width: 60rem;
    height: 40rem;
    gap: 2rem;
    position: relative;
    // bottom: $page-height;
    animation-name: comedown;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-direction: linear;

    .gameMain {
      display: flex;
      flex-direction: row;
      flex-basis: 89.99%;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 2rem;
      background-color: white;

      .left {
        width: 100%;
        height: 100%;
        flex-basis: 33.33%;
        display: flex;
        justify-content: center;
        position: relative;

        .line {
          width: 1%;
          height: 80%;
          position: absolute;
          right: 0px;
          background-image: url('../../../assets/SVGs/VirticalLine.svg');
          background-size: 100% 100%;
        }
      }
      .right {
        width: 100%;
        // height: 100%;
        flex-basis: 66.66%;
      }
    }

    .setting {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      z-index: 3;

      /* This prevents the items from stretching */
      .btnIcon,
      .btnExit {
        width: 3rem;
        height: 3rem;
      }

      .btnIcon {
        background-color: #ffff;
        // padding: 1rem;
        border-radius: 50%;
        box-shadow: 0px 3px 0px 0px #a4a4a4;
      }

      .icon-questionMark {
        width: 1rem;
        height: 1rem;
      }

      .btnSetting {
        background-color: $orange-500;
        padding: 0.5rem 2rem;
        color: white;
        font-family: $primary-font;
        border-radius: 10px;
        box-shadow: 0px 5px 0px 0px $orange-600;
        font-size: 20px;
        font-weight: 500;
        word-wrap: break-word;
        cursor: pointer;
      }
      .btnPause,
      .btnRestart {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        img {
          width: 2vw;
          height: 4vh;
          background-size: 100%;
        }
      }
      .btnExit {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $Cream-700;
        border-radius: 50%;
        box-shadow: 0px 5px 0px 0px $Cream-800;

        .icon-x {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
  .catConatiner {
    display: flex;
    align-items: center;
    justify-content: center;

    #cat {
      opacity: 0;
      width: 22rem;
      height: 22rem;
      position: absolute;
      left: -3%;
      z-index: 0;
      animation-name: cat, catMove;
      animation-duration: 1s, 1.5s;
      animation-delay: 2s, 2s;
      animation-fill-mode: forwards, forwards;
      animation-direction: normal, alternate-reverse;
      animation-iteration-count: 1, infinite;
      animation-timing-function: linear, ease-in-out;
    }
  }
}

@media only screen and (max-width: 1536px) {
  @keyframes zoomIn {
    from {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      bottom: 5rem;
    }
    to {
      -moz-transform: scale(3);
      -webkit-transform: scale(3);
      -o-transform: scale(3);
      -ms-transform: scale(3);
      -webkit-transform: scale(3);
      transform: scale(5.5);
      bottom: -35rem;
    }
  }
  @keyframes comedown {
    from {
      margin-bottom: 150%;
    }
    to {
      margin-bottom: 2rem;
    }
  }

  .QuizScreenContainer {
    .musicStand {
      width: 13rem;
    }
  }
}

@media only screen and (max-width: 1366px) {
  @keyframes zoomIn {
    from {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      bottom: 3rem;
    }
    to {
      -moz-transform: scale(5);
      -webkit-transform: scale(5);
      -o-transform: scale(5);
      -ms-transform: scale(5);
      -webkit-transform: scale(5);
      transform: scale(5);
      bottom: -35rem;
    }
  }

  @keyframes comedown {
    from {
      margin-bottom: 130%;
    }
    to {
      margin-bottom: 4rem;
    }
  }

  .QuizScreenContainer {
    .musicStand {
      width: 13.5rem;
    }

    .GameScreen {
      width: 58rem;
      height: 40rem;
    }
  }
}

@media only screen and (max-width: 1280px) {
  @keyframes zoomIn {
    from {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      bottom: 5rem;
    }
    to {
      -moz-transform: scale(5);
      -webkit-transform: scale(5);
      -o-transform: scale(5);
      -ms-transform: scale(5);
      -webkit-transform: scale(5);
      transform: scale(5);
      bottom: -32rem;
    }
  }

  @keyframes comedown {
    from {
      margin-bottom: 150%;
    }
    to {
      margin-bottom: 5rem;
    }
  }

  .QuizScreenContainer {
    .musicStand {
      width: 13rem;
    }

    .GameScreen {
      width: 55rem;
      height: 40rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .QuizScreenContainer {
    .musicStand {
      width: 12.5rem;
    }
    .GameScreen {
      width: 55rem;
      height: 38rem;

      .catConatiner {
        #cat {
          width: 18rem;
          height: 15rem;
        }
      }
    }
  }
}
