@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Noto+Sans:wght@400;500;600;700&family=Roboto:wght@700&display=swap');
$black: #1c1a1a;
$cream-200: #fed2aa;
$green-100: #e5f3e5;
$green-100-hover: #c3f8c3;
$green-200: #cde6cc;
$green-300: #a5d1a4;
$pale-green: #75c973;
$green-500: #519750;
$grey-100: #f0eeee;
$grey-200: #dddada;
$grey-100-hover: #dfdede;
$grey-300: #bfbabb;
$grey-50: #f8f7f7;
$grey-500: #817676;
$grey-700: #564e4e;
$orange-200: #f8dcb0;
$orange-400: #f09745;
$orange-500: #e98427;
$orange-50: #fef8ee;
$orange-600: #da6a1c;
$pale-purple: #d8bcfd;
$purple-800: #6f219e;
$purple-900: #601d86;
$white: #fff;
$yellow-100: #faf5c7;
$yellow-100-hover: #f8ef9b;
$yellow-300: #f0d454;
$yellow-400: #e9bb18;
$yellow-500: #daa718;
$Cream-700: #c2370c;
$Cream-800: #9a2c12;

// measurements
$nav-height: 15vh;
$page-height: 100vh;

//fonts
$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Be Vietnam Pro', sans-serif;
