$black: #1f1f1f;
$white: #ffffff;
$primary-font: sans-serif;
$tertiary-font: sans-serif;
$nav-height: 0px;
$page-height: 100vh;

$grey-50: #f8f8f8;
$grey-100: #f0eeee;
$grey-100-hover: #e5e5e5;
$grey-200: #dfdada;
$grey-300: #bfbabb;
$grey-500: #817676;
$grey-700: #4b4545;

$Cream-700: #817676;
$Cream-800: #5d5555;
$green-100: #cde6cc;
$green-100-hover: #b8ddb7;
$green-300: #75c973;
$green-500: #519750;
$orange-200: #fed2aa;
$orange-500: #f6ad69;
$orange-600: #e98427;
$pale-green: #cde6cc;
$pale-purple: #e8d9ff;
$purple-800: #7046a8;
$purple-900: #4f2f7d;
$yellow-100: #fff8d8;
$yellow-100-hover: #f6e892;
$yellow-300: #e9bb18;
$yellow-400: #f8d867;
$yellow-500: #d7aa10;