::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #6F219E;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #A135E8;
    border-radius: 5px;
  }