@import '../../assets/scss/variables';

.gameFeatureContainer {
  display: flex;
  flex-direction: column;
  gap: 5%;
  font-size: 22px;

  .gameLives {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 2rem;
    background-image: url('../../assets/SVGs/Line.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      .gameFeatureName {
        flex: 0 0 6rem;
      }

      .gameFeatureValue {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 10rem;
      }

      #timer,
      #score,
      #lives {
        font-size: 32px;
        font-weight: bold;
      }

      #lives {
        display: flex;

        img {
          width: 2.5vw;
          height: 5vh;
          margin-right: 5px;
        }
      }
    }
  }
  .gameSetting {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5%;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      .gameFeatureName {
        flex: 0 0 6rem;
      }

      .gameFeatureValue {
        width: 4.6rem;
      }

      > :nth-child(2) {
        border: 2px solid $grey-500;
        border-radius: 5px;
        height: 52px;
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      #music {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 0 0 10rem;
        font-size: 22px;

        div {
          border: 2px solid $grey-500;
          width: 100%;
          height: 35px;
          color: $grey-500;
        }

        button {
          text-decoration: none;
        }

        span {
          border: none !important;
          align-items: center;
          color: #817676;
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
          margin-left: 10px;
        }
      }

      .on {
        background-color: $pale-green;
        color: $white;
        border-color: $green-500;
        flex-direction: row-reverse !important;

        // span {
        //   padding-right: 20px;
        // }
      }

      #volume {
        flex: 0 0 10rem;
      }

      .slider {
        -webkit-appearance: none;
        width: 90%;
        height: 8px;
        border-radius: 5px;
        background: $grey-300;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 2s;
        transition: opacity 2s;
      }

      .slider:hover {
        opacity: 1;
      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $grey-100;
        cursor: pointer;
      }

      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $grey-100;
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 1150px) and (max-width: 1650px) {
    .gameSetting div {
      #music {
        width: 10vw;
      }

      #volume {
        width: 10vw;
      }
    }
  }

  @media screen and (min-width: 850px) and (max-width: 1150px) {
    .gameSetting div {
      #music {
        width: 14vw;
      }

      #volume {
        width: 14vw;
      }
    }
  }

  @media screen and (max-width: 850px) {
    .gameSetting div {
      #music {
        width: 17vw;
      }

      #volume {
        width: 17vw;
      }
    }
  }
}
